@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');
$sans: 'Open Sans', sans-serif;
$play: 'Playfair Display', serif;
$purp: rgb(131, 46, 228);
$blu: rgb(15, 127, 179);

.text {
    text-align: center;
    width: 80vw;
    margin: auto;
    line-height: 2em;
}
.title {
    font-family: $play;
    font-size: 4vw;
    color: $purp;
    filter: drop-shadow(2px 4px 2px #c5c5ec);
}

.subtitle {
    font-family: $sans;
    font-size: 2vw;
    color: $blu;
    padding: 1.5em;
    filter: drop-shadow(2px 4px 2px #c5c5ec);
}

.btn_container {
    margin: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    border-radius: 5px;
    color: var(--color);
    transition: 0.25s;
    background: none;
    border: 2px solid;
    text-transform: lowercase;
    letter-spacing: .3rem;
    font-family: $sans;
    font-size: 1rem;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

.zen:hover,
.zen:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    border-color: var(--hover);
    color: var(--hover);
}


$colors: (
  zen: #2DAAE4
);

@each $button, $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{adjust-hue($color, 90deg)};
    }
  }

@media screen and (max-width: 600px) {
    .title {
        font-size: 9vw;
        margin: 5%;
    }
    .subtitle {
        font-size: 4vw;
        margin: 5%;
    }

    .zen {
        margin-bottom: 1.7em;
    }
}